.btn-cta {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  outline-offset: 2px;
  letter-spacing: 0;
  border: 0;
  border-radius: 6px;
  width: 100%;
  max-width: none;
}

.btn-cta.add {
  background-color: var(--mean-green);
  color: var(--white);
  border: 1px solid var(--cta-border);
}

.btn-cta.add:hover {
  background-color: var(--hover-green);
}

.btn-cta.add:disabled {
  background-color: var(--disabled-green);
}

.btn-cta.remove {
  background-color: var(--nilla-wafer);
  border: 1px solid var(--cta-border);
  color: var(--danger-text);
}

.btn-cta.remove:hover {
  background-color: var(--danger-background);
  color: var(--white);
}
