:root {
  --white: rgb(255, 255, 255);
  --back-in-black: rgb(0, 0, 0);
  --muted: rgb(112, 112, 112);
  --search-border: rgb(212, 212, 212);
  --search-outline: rgb(206, 226, 249);
  --looks-like-a-link: rgb(12, 109, 226);
  --link-hover: rgb(61, 138, 232);
  --lightmode-background: rgb(246, 246, 246);
  --darkmode-background: rgb(34, 39, 45);
  --darkmode-text: rgb(173, 186, 199);
  --cta-border: rgba(27, 31, 36, 0.15);
  --mean-green: rgb(52, 125, 57);
  --hover-green: rgb(70, 149, 74);
  --disabled-green: rgba(52, 125, 57, 0.6);
  --nilla-wafer: rgb(246, 248, 250);
  --danger-text: rgb(207, 34, 46);
  --danger-background: rgb(164, 14, 38);
  --input-shadow: rgb(206 226 249);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

footer {
  bottom: 0;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--search-border);
  outline-color: var(--search-outline);
  color: var(--back-in-black);
  background-color: var(--white);
  max-height: 3rem;
  border-radius: 6px;
  margin: 1rem 0 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  outline-offset: 2px;
  outline-width: 2px;
  width: 100%;
  appearance: none;
  text-overflow: ellipsis;
}

input:hover {
  background: var(--white);
  border: 1px solid var(--muted);
}

input:focus {
  box-shadow: var(--input-shadow) 0px 0px 0px 4px;
  outline: none;
  background: var(--white);
  border: 1px solid var(--looks-like-a-link);
}

.btn-nav {
  background: none;
  padding: 0;
  border: none;
  color: var(--looks-like-a-link);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  cursor: pointer;
}

.btn-nav:hover {
  color: var(--link-hover);
}

.btn-nav:disabled {
  cursor: not-allowed;
  color: var(--muted);
}

.btn-small {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1rem;
}

.btn-cta {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  outline-offset: 2px;
  letter-spacing: 0;
  border: 0;
  border-radius: 6px;
  width: 100%;
  max-width: none;
}

.btn-cta.add {
  background-color: var(--mean-green);
  color: var(--white);
  border: 1px solid var(--cta-border);
}

.btn-cta.add:hover {
  background-color: var(--hover-green);
}

.btn-cta.add:disabled {
  background-color: var(--disabled-green);
}

.btn-cta.remove {
  background-color: var(--nilla-wafer);
  border: 1px solid var(--cta-border);
  color: var(--danger-text);
}

.btn-cta.remove:hover {
  background-color: var(--danger-background);
  color: var(--white);
}

.logo {
  font-size: 2.5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightmode-background);
  min-height: 100vh;
  padding: 0.5rem 1rem 0;
}

.app-container.confirmation {
  background-color: var(--darkmode-background);
}

.confirmation-footer {
  color: var(--darkmode-text);
}

.content-container {
  width: 100%;
  max-width: 30rem;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 100%;
}

.message-container {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--muted);
}

.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem 0;
  width: 100%;
}

.github-link {
  text-decoration: none;
}
