header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

footer {
  bottom: 0;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid rgb(212, 212, 212);
  max-height: 3rem;
  border-radius: 6px;
  margin: 1rem 0 0;
  outline-color: rgb(206, 226, 249);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  outline-offset: 2px;
  outline-width: 2px;
  color: rgb(0, 0, 0);
  width: 100%;
  appearance: none;
  text-overflow: ellipsis;
  background: rgb(255, 255, 255);
}

input:hover {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(112, 112, 112);
}

input:focus {
  box-shadow: rgb(206 226 249) 0px 0px 0px 4px;
  outline: none;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(12, 109, 226);
}

.btn-nav {
  background: none;
  padding: 0;
  border: none;
  color: rgb(12, 109, 226);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.btn-nav:hover {
  color: rgb(61, 138, 232);
}

.btn-nav:disabled {
  cursor: not-allowed;
  color: rgb(112, 112, 112);
}

.btn-small {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1rem;
}

.btn-cta {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  background: rgb(0, 0, 0);
  border-radius: 6px;
  border: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  letter-spacing: 0px;
  line-height: 24px;
  outline-color: rgb(0, 0, 0);
  outline-offset: 2px;
  padding: 12px 24px;
  width: 100%;
  max-width: none;
}

.btn-cta:hover:enabled {
  background: rgb(45, 45, 45);
}

.btn-cta:active {
  background: rgb(22, 22, 22);
}

.btn-cta:disabled {
  background: rgb(45, 45, 45);
  cursor: not-allowed;
}

.logo {
  font-size: 2.5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 0.5rem 1rem 0;
}

.content-container {
  width: 100%;
  max-width: 480px;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 100%;
}

.message-container {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 24px;
  color: rgb(112, 112, 112);
}

.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem 0;
  width: 100%;
}

.movie-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 30px;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.movie-header-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-title {
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 24px;
  text-overflow: ellipsis;
}

.movie-year {
  background: #e2e2e2;
  font-size: 12px;
  line-height: 1rem;
  padding: 4px 8px;
  outline-color: rgb(0, 0, 0);
  border-radius: 100px;
  color: rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
  margin: 0 0 0 0.5rem;
}

.movie-poster {
  margin: 0 0 1rem 0;
}
